<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to index.lamba</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{pathRoot}}">index.lambda</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{pathRoot}}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demo <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathRoot}}/test-harness/query-string">Query String Support</a></li>
                <li><a href="{{pathRoot}}/test-harness/redirect">302 Redirect</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    <div class="starter-template">
      <h1>Can't Believe This is Serverless</h1>
      <p class="lead">This is a Serverless Server-side page</p>
      <h3>Query string: </h3>
      <pre><code class="json">{{queryString}}</code></pre>
      <h3>Full Path: </h3>
      <pre><code class="json">{{pathRoot}}</code></pre>
      <h3>Path Top Level: </h3>E.g. /contact-us
      <pre><code class="json">{{level1}}</code></pre>
      <h3>Path Level 2: </h3>E.g. /users/ronaldwidha
      <pre><code class="json">{{level2}}</code></pre>
      <h3>Path Level 3: </h3>E.g. /users/ronaldwidha/friends or <br /> /articles/1234567/how-to-build-a-serverless-blog
      <pre><code class="json">{{level3}}</code></pre>
      <br />
      <br />
      <br />
      <h3>Diagnostics</h3>
      Request:
      <pre><code class="json">{{request}}</code></pre>
      Event:
      <pre><code class="json">{{event}}</code></pre>
      Context:
      <pre><code class="json">{{context}}</code></pre>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
